@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.root{
    --primary-color: #28abe3;
    --bg-gray-color: #f0f8ff;
    --black-color: #232323;
    --gray-color: #848484;
    --white-color: #fff;
    --light-gray: #eee;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* --- custom design CSS ---------------------- */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #28abe3;
}

.main-btn {
    margin-top: 2.5rem;
}

.main-btn button {
    background:  #28abe3;
    padding: 0.725rem 1.75rem;
    color: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* --- Header Design ------------------------- */

nav{
    position: fixed;
    width: 100%;
    padding: 1.25rem 0;
    z-index: 999;
    transition: all 0.3s ease;
}
nav .navbar .logo a{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

nav .navbar .logo.active a{
    color: #232323;
}

nav .navbar .logo_text{
    color: #28abe3;
}

nav.sticky{
    background: #fff;
    padding: 0.8rem 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

nav .navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .menu{
    display: flex;
    position: relative;
}

nav .navbar .menu li{
    list-style: none;
    margin: 1rem;
}

nav .navbar .menu li a{
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    padding: 0.735rem 0;
    transition: all 0.4s ease;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

nav .navbar .menu li a:hover{
    color: #28abe3;
}

nav.sticky .navbar .menu li a{
    color: #232323;
}

nav.sticky .navbar .menu li a:hover{
    color: #28abe3;
}

/* --- Side Design ------------------------- */
nav .menu-btn,
nav .menu .cancel-btn{
    position: absolute;
    color: #fff;
    right: 1.875rem;
    top: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
    display: none;
}
nav .menu-btn{
    color: #232323;
}

/* --- Top Banner Design -------------------- */
.home .top-banner{
    width: 100%;
    height: 100vh;
    background: url('../assets/images/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.home .top-banner .content{
    margin: auto;
    width: 100%;
}

.home .top-banner .text{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .top-banner .text h1{
    font-size: 3.75rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.home .top-banner .text p{
    font-size: 1rem;
    line-height: 1.4375rem;
    color: #fff;
    margin-bottom: 2.1rem;
    width: 40%;
    margin: auto;
    display: block;
}

/* --- About ---------------------- */
.about{
  background-color: #fff;
}

.sec-content{
    width: 100%;
    height: 100vh;
    width: 85%;
    margin: auto;
    margin-bottom: 2.1rem;
    padding: 6.25rem 0;
}

.sec-title{
    text-align: center;
    margin-bottom: 6rem;
}

.sec-title h2{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #28abe3;
    margin-bottom: 0.5rem;
}

.about-content{
    display: flex;
    justify-content: space-between;
    margin: o auto;
}

.about-content .left{
    width: 35%;
}

.about-content .left img{
    height: 50%;
    width: auto;
    align-items: left;
    border-radius: 50%;
}

.about-content .right{
    width: 65%;
    display: ruby;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content .right h2{
    color: #28abe3;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.about-content .right p{
    font-size: 1rem;
    line-height: 2rem;
    color: #232323;
    margin-bottom: 2.1rem;
    margin: auto;
    display: block;
}

/* --- Portfolio ----------------------- */
.portfolio{
    background-color: #fff;
}

.portfolio .third-content{
    width: 100%;
    height: 130vh;
    width: 85%;
    margin: auto;
    margin-bottom: 2.1rem;
    padding: 6.25rem 0;
}
.portfolio .third-title{
    font-size: 2.1875rem;
    text-align: center;
    color: #28abe3;
    margin-bottom: 3rem;
}

.portfolio .thrid-title h2{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #232323;
    margin-bottom: 0.5rem;
}
body {
  background-color: #eee;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
}
.gallery img {
  max-width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 8px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 20px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}

/* --- Blog ----------------------- */
.blog{
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.blog .fourth-content{
    width: 100%;
    height: 120vh;
    width: 85%;
    margin: auto;
    padding: 6.25rem 0;
}

.blog .fourth-title{
    font-size: 2.1875rem;
    text-align: center;
    color: #28abe3;
    margin-bottom: 6rem;
}

.blog .fourth-title h2{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #28abe3;
    margin-bottom: 0.5rem;
}

.blog .fourth-title p{
    font-size: 1rem;
    color: #232323;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2.1rem;
    margin: auto;
    display: block;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}
body::before,
body::after {
 content: "";
 display: table;
 clear: both;
}
body * {
 box-sizing: inherit;
}
p, h1 {
 margin: 0; padding: 0;
}

body, .text-light-black {
  color: rgba(0,0,0,0.6);
}
.text-black {
 color: rgba(0,0,0,0.9);
}
.text-muted {
 color: rgba(0, 0, 0, 0.3);
}



.text-uppercase {
 text-transform: uppercase;
}
.ff-serif {
 font-family: 'Lora', serif;
}

.font-weight-normal {
 font-weight: normal;
}
.font-weight-medium {
 font-weight: 500;
}

.lts-1px {
  letter-spacing: 1px;
}
.lts-2px {
 letter-spacing: 2px;
}


.w-full {
 width: 100%;
}

.text-center {
 text-align: center;
}
.text-left {
 text-align: left;
}
.text-right {
 text-align: right;
}

.d-block {
 display: block;
}
.d-inline-block {
 display: inline-block;
}

.p-relative {
 position: relative;
}
.p-absolute {
 position: absolute
}



.bg-white {
 background-color: #fff;
}






.small {
 font-size: 0.75rem;
}
.card-heading {
 font-size: 2.25rem;
}
.styled-link {
 text-decoration: none;
 outline: none;
 color: #2196fe;
 transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
 color: #536dfe;
}
.shadow-1 {
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
 transition: all 0.25s ease-in;
 border-bottom: 5px solid transparent;
}
.blue-hover:hover {
 transform: translateY(-5px);
 border: none;
 border-bottom: 5px solid #2196fe;
}




.clearfix::before,
.clearfix::after {
 content: "";
 display: table;
 clear: both;
}
.float-left {
 float: left;
}
.float-right{
 float: right;
}






/**Margin and padding utilities*/
.mx-auto {
 margin-left: auto;
 margin-right: auto;
}
.ml-auto {
 margin-left: auto;
}
.mr-auto {
 margin-right: auto;
}
.mx-0 {
 margin-left: 0;
 margin-right: 0;
}
.mx-1 {
 margin-left: 1rem;
 margin-right: 1rem;
}
.mx-2 {
 margin-left: 2rem;
 margin-right: 2rem;
}
.mx-3 {
 margin-left: 3rem;
 margin-right: 3rem;
}


.my-0 {
 margin-top: 0;
 margin-bottom: 0;
}
.my-1 {
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.my-2 {
 margin-top: 2rem;
 margin-bottom: 2rem;
}
.my-3 {
 margin-top: 3rem;
 margin-bottom: 3rem;
}

.mt-0 {
 margin-top: 0;
}
.mt-1 {
 margin-top: 1rem;
}
.mt-2 {
 margin-top: 2rem;
}
.mt-3 {
 margin-top: 3rem;
}

.mb-0 {
 margin-bottom: 0;
}
.mb-1 {
 margin-bottom: 1rem;
}
.mb-2 {
 margin-bottom: 2rem;
}
.mb-3 {
 margin-bottom: 3rem;
}

.ml-0 {
 margin-left: 0;
}
.ml-1 {
 margin-left: 1rem;
}
.ml-2 {
 margin-left: 2rem;
}
.ml-3 {
 margin-left: 3rem;
}




.px-0 {
 padding-left: 0;
 padding-right: 0;
}
.px-1 {
 padding-left: 1rem;
 padding-right: 1rem;
}
.px-2 {
 padding-left: 2rem;
 padding-right: 2rem;
}
.px-3 {
 padding-left: 3rem;
 padding-right: 3rem;
}


.py-0 {
 padding-top: 0;
 padding-bottom: 0;
}
.py-1 {
 padding-top: 1rem;
 padding-bottom: 1rem;
}
.py-2 {
 padding-top: 2rem;
 padding-bottom: 2rem;
}
.py-3 {
 padding-top: 3rem;
 padding-bottom: 3rem;
}

.pt-0 {
 padding-top: 0;
}
.pt-1 {
 padding-top: 1rem;
}
.pt-2 {
 padding-top: 2rem;
}
.pt-3 {
 padding-top: 3rem;
}

.pb-0 {
 padding-bottom: 0;
}
.pb-1 {
 padding-bottom: 1rem;
}
.pb-2 {
 padding-bottom: 2rem;
}
.pb-3 {
 padding-bottom: 3rem;
}


/* --- Team ------------------------------ */
.team{
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}
.team .fifth-content{
    width: 100%;
    height: 150vh;
    width: 85%;
    margin: auto;
    padding: 6.25rem 0;
}

.team .fifth-title{
    text-align: center;
    color: #28abe3;
    margin-bottom: 6rem;
}

.team .fifth-title h2{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #28abe3;
    margin-bottom: 0.5rem;
}

.team .fifth-title p{
    font-size: 1rem;
    color: #232323;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2.1rem;
    margin: auto;
    display: block;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
  }
  .card h2{
      color: #28abe3;
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .desc-team {
      color: #232323;
  }

  .email-team{
      color: #232323;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #28abe3;
    text-align: center;
    cursor: pointer;
    width: 90%;
    margin: 1rem;
  }
  
  .button:hover {
    background-color: #28abe3;
  }

/* --- Contact ------------------------------ */

.contact{
    background-color: #fff;
}

.contact .sixth-content{
    width: 100%;
    height: 70vh;
    width: 85%;
    margin: auto;
    padding: 6.25rem 0;
}


*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

    button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #28abe3;
    font-size: 26px;
    font-family: 'Montserrat';
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #282828;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #282828;
    color: #28abe3;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #282828;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #28abe3;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #282828;
  }
  
  
/* --- Footer ----------------------- */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #28abe3;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #282828;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #28abe3;
}